

<div class="container">
    <div class="container h-100 mt-4">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search-input p-2" [(ngModel)]="search" type="text" name="" size="30" placeholder="Search here...">
            <button class="p-2 px-3 rounded"><a  class="search-icon"><i class="fa fa-search"></i></a></button>
          </div>
        </div>
      </div>

    <table class="table table-bordered table-responsive table-hover mt-4" >
        <thead class="bg-dark text-light text-center">
            <tr>
                <th>Name of the Book</th>
                <th>image</th>
                <th>No of Pages</th>
                <th>Reviews</th>
                <th><i class="fa fa-rupee"></i>Price</th>
            </tr>
        </thead>
        <tbody class="text-center bg-warning" id="tb">
            <tr *ngFor='let book of books | filter:search'>
                <td>{{book.book}}</td>
                <td><img [src]="book.image" alt="image" width="150px" height="150px"></td>
                <td>{{book.pages}}</td>
                <td>{{book.Review}}</td>
                <td>{{book.Price}}</td>
            </tr>
        </tbody>
    </table>
    
</div>