<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="#" class="nav-link brand">Techn<i class="fa fa-superpowers"></i> Elevate</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarcollapse">
          <ul class="navbar-nav justify-content-around mx-auto">
              <li><a routerLink="home" class="nav-link"><i class="fa fa-home"></i>Home</a></li>
              <li><a routerLink="about-us" class="nav-link"><i class="fa fa-user"></i>About Us</a></li>
              <li><a routerLink="tdf" class="nav-link"><i class="fa fa-form"></i>TDF</a></li>
              <li><a routerLink="rf" class="nav-link"><i class="fa fa-form"></i>RF</a></li>
              <li><a routerLink="highlight" class="nav-link"><i class="fa fa-address-book"></i>highlight</a></li>
              <li><a routerLink="product" class="nav-link"><i class="fa fa-sign-in"></i>Product</a></li>
              <li><a routerLink="pnf" class="nav-link"><i class="fa fa-user-circle"></i>Log-In</a></li>
          </ul>
      </div>
  </nav>
</div>
<router-outlet></router-outlet>